#block{
    display: block;
}

.about-body-container{
    width: 100%;
}

.about-body-container .about-body-wrapper{
    height: 70vh;
}

.about-body-container .about-body-wrapper .about-header{
    background-position-x: center ;
    background-position-y: -9cm;
    width: 100%;
    height: 70vh;
    overflow-x: hidden;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.about-body-container .about-body-wrapper .about-header .header-content{
    width: 100%;
  
}

.about-body-container .about-body-wrapper .about-header .header-content .nav-container{
    height: 30px;
    width: 40%;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


.about-body-container .about-body-wrapper .about-header .page-name{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    background-color: rgba(173, 162, 162, 0.552);
    width: 12%;
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    border: 5px solid rgba(250, 0, 0, 0.99);
    border-radius: 15px;    
}


@media all and (max-width : 1024px) {
    .about-body-container .about-body-wrapper .about-header .page-name{
        width: 20%;
        font-size: 1.3rem;
        margin-top: 25%;  
    }
     
    #logo img {	
		
		margin-top: 30px !important;
	}
}


@media all and (max-width : 768px) {



}


@media all and (max-width : 455px) {

    .about-body-container .about-body-wrapper .about-header .page-name{
        width: 50%;
        font-size: 1.3rem;
        margin-top: 70%;  
    }

    #logo img {	
		
		margin-left: 30px !important;

	}


}

