 html, body{
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

 }
 
 .event-body-wrapper{
    width: 100%;
    height: max-content;
    margin: auto;
  }

  .container {
    max-width: 70%;
    margin: 50px auto;
    padding: 20px;
  }

  .countdown {
    font-size: 32px;
    margin: 10px;
    color: #eb6666;
    text-align: center;
  }
  
  .event {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 50px auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .event:hover {
    transform: translateY(-5px);
  }
  
  .event h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .event p {
    margin-bottom: 10px;
    color: #585555;
  }
  
  .event .description {
    display: block;
  }
  
  .event.active .description {
    display: block;
  }

  .text {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }

  .slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
    margin-top: 20px; 
  }
  
  .mySlides {
    display: none;
  }
  
  .mySlides img {
    width: 100%;
    max-height: 500px; 
    object-fit:cover;
    border-radius: 20px;
  }

  .two{
    width:100% ;
    margin:auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 5px 3px red;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .tableTitle{
    color: #242121;
  }

.table-container {
    overflow-x: auto;
    padding-left: 15%;
    margin-bottom: 50px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    border-bottom: 2px solid #061fff;
    text-align: left;
}

th {
    background-color: #a7353511;
    color: #242121;
    text-align: center;
}


.noBorder a{
  color: rgb(255, 255, 255);
  background-color: #ec0909c4;
  margin-left: 20px;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;

}


@media only screen and (max-width: 600px) {

  .tableTitle{
    margin-left: 100%;
  }

   .table-container {
    width: 100%;
    padding: 5%;
    }
     
    table{
      width: 90%;
      box-shadow: 0 3px 4px rgba(48, 46, 46, 0.3);
      border-radius: 5px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        margin: auto;
    }

    .noBorder a{
      color: red;
    }

    td:nth-of-type(1):before { content: "Bible Verse: "; }
    td:nth-of-type(2):before { content: "Teacher: "; }
    td:nth-of-type(3):before { content: "Helper: "; }
    td:nth-of-type(4):before { content: "Her: "; }
}

  
  
  
  @media screen and (max-width: 768px) {
    .event {
      width: 70%;
      margin-bottom: 30px;
    }
  
    .slideshow-container {
      max-width: 100%;
      margin-top: 20px;
    }
  
    .mySlides img {
      max-height: 500px; 
    }
  
    .prev,
    .next {
      font-size: 18px;
      padding: 10px;
    }

    .docWrapper{
      width: 70%;
      display: block;
      align-content: center;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 480px) {
    .mySlides img {
      max-height: 400px; 
    }

    .event {
      width: 90%;
    }
  
    .prev,
    .next {
      font-size: 1.8rem;
      padding: 8px;
    }

    body {
      height: 450vh;
    }

    .tableTwo .noBorder th{
      background-color: rgb(238, 239, 245);
      display: block;
      margin-top: 15px;
      height: 50px;
      padding: 5px;
    }



.noBorder a{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin: auto;
  margin-top:2px;
  width: 40%;
  padding: 4px;
  display: block;
}

    
  }
  
  
  