 iframe{
    width:100%;
     height: 400px;
     border: 0; 
}
.footer{
    width: auto;
    height: auto;
    margin: 0px;
    margin-top: -3px;
    overflow-x:hidden;
    background-color: rgb(9, 193, 9);
   
}

.footer-containers{
    background-color: #003899c8;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:  40px 20px 40px 20px;
    overflow:hidden;
}

.footer > .footer-containers > .contact {
    width:fit-content;
}

.footer > .footer-containers > .contact .contact-forms input{
    height: 25px;
    font-size: 1.1rem;
    font-family: inherit;
    display: block;
}

.footer > .footer-containers > .contact .contact-forms textarea{
    width: 120%;
    height: 100px;
    display: block;
    font-size: 1.1rem;
    font-family: inherit;
    color: black;
    resize: none;
    margin-bottom: 10px;

}

.footer > .footer-containers > .contact .contact-forms .form-group{
    margin-top: 10px;
}
.footer > .footer-containers > .contact .contact-forms button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 2px;

}

.footer > .footer-containers > .contact .contact-forms button:hover{
    background-color: white;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.396);
}

.footer > .footer-containers > .footer-social{
    display: flex;
    flex-direction: column;
}

.footer > .footer-containers > .footer-social .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px; 
}

.footer > .footer-containers > .footer-social .social-link a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.footer > .footer-containers > .footer-social .social-link a:hover{
    transition: all 0.5s;
    letter-spacing: 1px;
}


.footer > .footer-containers > .sitemap{
    display: flex;
    flex-direction: column;   
}

.footer > .footer-containers > .sitemap .nav_link{
    margin: 10px;
    text-align: left;
    color: white;
    width: 120px;
}

.footer > .footer-containers > .sitemap .nav_link a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.footer > .footer-containers > .sitemap .nav_link a:hover{
    /* background-color: #ffffffc8; */
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(31, 31, 125, 0.642);
    transition: all 0.5s;
    letter-spacing: 1px;
}

.footer > .footer-containers > .address{
    width: fit-content;
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.footer > .footer-containers > .address .logo img{
    width: 130px;
    margin-bottom: 20px;
    margin-left: 30px;
    filter: brightness(100%);
    
}



.footer > .footer-containers > .address .add{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.add-info{
    margin-left: 30px;
}

.footer > .footer-containers > .address a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.footer > .footer-containers > .address a:hover{
        /* background-color: #ffffffc8; */
        color: #ffffff;
        text-shadow: 1px 1px 3px rgba(31, 31, 125, 0.642);
        transition: all 0.5s;
        letter-spacing: 1px;
}

.footer > .footer-containers > .address .copyright{
    position: relative;
    align-items: center;
    width: 100%;
    height:auto;
    background-color: #0d0c2f50;
    color: rgb(0, 0, 0);
    text-align: center;
}
