.main-wrapper  {
    width: 100%;
    /* height: 300vh; */
}


.main-wrapper > .main-container  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-wrapper > .main-container  .main > .about-us{
    background-color: rgba(219, 219, 228, 0.164);
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.main-wrapper > .main-container  .main > .about-us .head{
    font-size: 1.5rem;
    font-weight: 700;
}

.main-wrapper > .main-container  .main > .about-us > .our-info{
    width: 80%;
    font-size: 1.3rem;
}

.main-wrapper > .main-container  .main > .about-us > .info-link{
    background-color: #afa9a933;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
    
}

.main-wrapper > .main-container  .main > .about-us > .info-link:hover{
    background-color: rgb(255, 255, 255);

}

.main-wrapper > .main-container  .main > .about-us > .info-link a{
    color: rgba(0, 0, 0, 0.941);
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    font-size: 1.1rem;
}

.main-wrapper > .main-container  .main > .about-us > .info-link a:hover{
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.689);
    transition: all 0.5s;
    border-bottom: 2px solid rgba(255, 0, 0, 0.644);
}

.main-wrapper > .main-container > .main > .our-virtue{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(255, 0, 0, 0.559);
    margin: 30px;
}

.main-wrapper > .main-container > .main > .our-virtue > .virtue-wrapper{
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 40px;
}

.main-wrapper > .main-container > .main > .our-virtue > .virtue-wrapper img{
    border-radius: 30px;
    height: 250px;
    width: 300px;
    margin-bottom: 10px;
}

.main-wrapper > .main-container > .main > .our-virtue > .virtue-wrapper > .virtue-header a{
    text-decoration: none;
    width: 100%;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);

}
.main-wrapper > .main-container > .main > .our-virtue > .virtue-wrapper > .virtue-header a:hover{
    border-bottom: 2px solid rgba(207, 20, 20, 0.744);
    color: rgba(255, 0, 0, 0.57);
    width: 50%
}

.main-wrapper > .main-container > .main > .events{
    width: 100%;
    height: fit-content;
    background-color: rgba(243, 243, 251, 0.885);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-wrapper > .main-container > .main > .events > .event-header{
    font-size: 1.2rem;
    font-weight: 700;
}

.main-wrapper > .main-container > .main > .events .event-content{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-wrapper > .main-container > .main > .events > .event-content > .event-img img{
    height: 600px;
    width: auto;
}

.main-wrapper > .main-container > .main > .events > .event-content > .event-description{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: larger;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrapper > .main-container > .main > .events > .event-content > .event-description .event-link{
    background-color: #afa9a933;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.main-wrapper > .main-container > .main > .events > .event-content > .event-description .event-link:hover{
    background-color: white;
}

.main-wrapper > .main-container > .main > .events > .event-content > .event-description .event-link a{
    text-decoration: none;
    color: black;
    height: 20px;
    
}

.main-wrapper > .main-container > .main > .events > .event-content > .event-description .event-link a:hover{
    color: rgba(0, 0, 0, 0.689);
    transition: all 0.5s;
    border-bottom: 2px solid rgba(255, 0, 0, 0.644);
    letter-spacing: 1px;
}

.activity-container{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


    .activity-container .meetings-wrapper .meetings-hrs {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    }

.activity-container .meetings-wrapper .meetings-hrs .activity{
    color: rgb(40, 36, 36);
    font-size:1rem ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.map iframe{
    width: 100%;
    height: 90%;
    margin-top: 20px;
}


