
body{
    overflow-x: hidden;
    margin: 0px;
}

header{
    background-image: url(../images/church_building/front_view.png) ; 
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-right: 30px;
}

.header > .header-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows:1fr 2fr;
    padding: 20px;
}

.header > .header-container > .header-content{
    display: flex;
    justify-content:space-evenly;
}
