@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


a {
	color: #FFF;
}


.toggle,[id^=drop] {
	display: none;
}

nav { 
	background-color: transparent;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	margin:30px;
	padding: 0;
}

#logo a{
	padding: 0px;
}

#logo img {
	float: left;
	height: 90px;
	margin-left: 90px;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: a;
	display:inline-block;
	background-color: transparent;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:1.5rem;
	text-decoration:none;
	text-shadow: 2px 2px 2px black;
}




nav a:hover { 
	border-bottom: 2px solid rgb(255, 0, 0);
    padding-bottom:3px;
    transition: all 0.3s;
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}


nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
}









@media all and (max-width : 1024px) {
	#logo img {	
		height: 60px;
		margin-left: 50px;
	}


	nav a {
		font-size:1.2rem;
	}
	

}









@media all and (max-width : 768px) {

	#logo img {	
		height: 70px;
		margin: 0px;
	}


	nav {
		margin: 0px;
	}

	
	.toggle + a, .menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #000000;
		padding:10px 15px;
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 30px 50px;
		
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		width: max-content;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: right;
		z-index: 999;
		position: absolute;
		top: 0;
		right: 0;
		margin:80px 50px;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: max-content;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 30px;
	}
	

	nav a:hover,
 	nav ul ul ul a {
		background-color: #f81d1da8;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#ffffff;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #ac2c2c; 
	}

}






@media all and (max-width : 455px) {


	nav ul li a{
		margin: 10px 10px;
	}


	nav ul li {
		display:block;
		width: 100%;
		margin-top: -10px;

	}

	#logo img {	
		height: 50px;
		margin-left: 0px;
	}

	.toggle {
		margin-right: 15px;
	}

	
	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		width: max-content;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: right;
		z-index: 999;
		position: absolute;
		top: 0;
		right: 0;
		margin:80px 50px;
	}

}



